/* Write your CSS here */
.main-container {
  background-color: #1e293b;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif';
}
.heading {
  color: #f0bb03;
  font-size: 30px;
}

.caption {
  color: #ffffff;
  font-size: 26px;
}
.button {
  background-color: #ffffff;
  border-radius: 7px;
  border-style: solid;
  border-color: white;
  font-family: 'Bree serif';
  color: #1e293b;
  font-weight: bold;
}
